/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: inherit;
}

#__next {
  height: 100%;
}

* {
  font-family: 'Prompt', sans-serif;
}

:root {
  --border-radius: 6px;
  --card-overrides-border-width: 0;
}

.holy-grail-wrapper {
  --column-spacing: 32px;
  --double-column-spacing: calc(2 * var(--column-spacing));

  display: grid;
  grid-template-columns:
    1fr min(60ch, calc(100% - var(--double-column-spacing)))
    1fr;
  grid-column-gap: var(--column-spacing);
}

.holy-grail-wrapper > * {
  grid-column: 2;
}

.card {
  width: 100%;
  padding: 16px;
  text-align: center;
  border-radius: var(--border-radius);
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  position: relative;
}

.card:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  transform: translateY(5px) scale(0.95);
  filter: blur(10px);
  opacity: 1;
  transition: opacity 0.3s;
}

.btn-pushable {
  width: 100%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: opacity 250ms, filter 250ms;
  opacity: 1;

  --text-color: #ffffff;
  --front-background-image: linear-gradient(
    68.3deg,
    rgba(245, 177, 97, 1) 0.4%,
    rgba(236, 54, 110, 1) 100.2%
  );
}

.btn-pushable:disabled {
  opacity: 0.5;
  filter: grayscale(1);
}

.btn-pushable .front {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 12px;
  position: relative;
  padding: 14px 16px;
  border-radius: 12px;
  font-size: 1rem;
  color: var(--text-color);
  background-image: var(--front-background-image);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.btn-pushable .front:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  transform: translateY(5px) scale(0.95);
  filter: blur(10px);
  opacity: 0.5;
  transition: opacity 0.3s;
}
.btn-pushable:hover .front:before {
  opacity: 1;
}

.btn-pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.btn-pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.btn-pushable:focus:not(:focus-visible) {
  outline: none;
}

.luster {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: all 0.2s ease;
}
.luster:after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  animation: lustering 1.6s ease infinite;
}
@keyframes lustering {
  100% {
    left: 200%;
  }
}
